<link rel="stylesheet" href="lib/layui/css/layui.css" media="all">
<link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" media="all" />
<style>
    .iconfont {
        font-family: "iconfont" !important;
        font-size: 16px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .layui-extend-quexianicon:before {
        content: "\e605";
    }
    #sqlArea {margin: 0;height:100%;width:100%;border-right:1px solid #f3f3f3;}

</style>
