<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <script type="text/javascript" src="/js/framework/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/css/framework/index.css">
    <!-- 引入组件库 -->
    <script src="/js/framework/index.js"></script>
    <script type="text/javascript" src="/js/framework/axios.js"></script>
    <script type="text/javascript" src="/js/pages/global.js"></script>
    <script type="text/javascript" src="/js/pages/request.js"></script>
    <title>布局配置中心</title>
    <style>
        [v-cloak]{
            display: none !important;
        }
        .container {
            padding: 50px 100px 0 100px;
            text-align: center;
        }
        .el-pagination__total {
            color: #ffffff;
        }
    </style>
</head>
<body bgcolor="#283c55">
<!--header start-->
<div th:include="center/header::top_header"></div>
<!--header end-->
<div  id="main" v-cloak>
    <div>
        <div class="container">
            <div style="float: right; padding: 0 100px 20px 0">
                <el-button type="success" @click="dialogVisible=true; isUpdate=false">新增</el-button>
            </div>
            <el-table
                    :data="layoutList"
                    stripe
                    border
                    style="width: 100%; height: auto">
                <el-table-column
                        fixed
                        prop="id"
                        label="ID"
                        align="center"
                        width="100">
                </el-table-column>
                <el-table-column
                        prop="title"
                        label="标题"
                        align="center"
                        width="300"
                        :show-overflow-tooltip="true">
                </el-table-column>
                <el-table-column
                        prop="templateName"
                        label="模板"
                        align="center"
                        width="150"
                        :show-overflow-tooltip="true">
                </el-table-column>
                <el-table-column
                        prop="url"
                        label="URL"
                        align="center"
                        width="200">
                </el-table-column>
                <el-table-column
                        prop="createTime"
                        label="创建时间"
                        width="240"
                        align="center"
                        :formatter="dateFormat">
                </el-table-column>
                <el-table-column
                        prop="lastUpdateTime"
                        label="更新时间"
                        width="240"
                        align="center"
                        :formatter="dateFormat">
                </el-table-column>
                <el-table-column
                        prop="enabled"
                        label="状态"
                        align="center"
                        width="150">
                    <template slot-scope="scope">
                        <div v-html="statusFormat(scope.row.enabled)"></div>
                    </template>
                </el-table-column>
                <el-table-column
                        fixed="right"
                        label="操作"
                        align="center"
                        width="auto">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                        <el-button
                                size="mini"
                                type="danger"
                                @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                        <el-button
                                size="mini"
                                type="warning"
                                @click="handleDelete(scope.$index, scope.row)">组件</el-button>
                    </template>
                </el-table-column>
                </el-table-column>
            </el-table>
        </div>
        <div style="padding: 20px 100px 0 100px; text-align: center">
            <el-pagination
                    background
                    layout="total, prev, pager, next"
                    v-show="pageInfo.total>0"
                    :total="pageInfo.total"
                    :current-page="pageInfo.pageNo"
                    :page-size.sync="pageInfo.pageSize"
                    @current-change="getPageLayoutList">
            </el-pagination>
        </div>

        <el-dialog
                :title="isUpdate ? '更新' : '新增'"
                :visible.sync="dialogVisible"
                width="30%"
                @closed="handleClose">
            <el-form ref="dataForm" :model="layout" label-width="140px" :rules="rules">
                <el-form-item label="标题" prop="title">
                    <el-input v-model="layout.title"></el-input>
                </el-form-item>
                <el-form-item label="模板" prop="templateName"
                              :rules="[{required: true, validator: validateCheckbox}]">
                    <div style="overflow: hidden; height: 150px; overflow-y:scroll;">
                        <el-checkbox v-model="thumb.checked" v-for="thumb in thumbnails" :key="thumb.value" @change="checkboxChanged(thumb.value)" bordar>
                            <el-popover
                                    placement="right"
                                    trigger="hover">
                                <img style="width: 800px" :src="'/img/center/template/' + thumb.value"/>
                                <img slot="reference" :src="'/img/center/template/' + thumb.value"  style="width: 200px">
                            </el-popover>
                        </el-checkbox>
                    </div>
                </el-form-item>
                <el-form-item label="URL" prop="url">
                    <el-input v-model="layout.url"></el-input>
                </el-form-item>
                <el-form-item label="状态" prop="enabled">
                    <el-select v-model="layout.enabled">
                        <el-option
                                key="Y"
                                label="启用"
                                value="Y">
                        </el-option>
                        <el-option
                                key="N"
                                label="禁用"
                                value="N">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button v-if="!isUpdate" type="primary" @click="createLayout">创 建</el-button>
                <el-button v-if="isUpdate" type="primary" @click="updateLayout">更 新</el-button>
            </span>
        </el-dialog>
    </div>
</div>
</body>
<script type="text/javascript" src="/js/pages/center/header.js"></script>
<script type="text/javascript" src="/js/pages/center/index.js"></script>
</html>