<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>布局组件</title>
    <!-- 引入gridstack样式 -->
    <link rel="stylesheet" href="lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" href="/css/framework/gridstack.min.css" />
    <link rel="stylesheet" href="/css/framework/gridstack-extra.css"/>
    <!-- 引入gridstack组件库 -->
    <script src="js/framework/gridstack.js"></script>
    <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" media="all" />
    <link rel="shortcut icon" href="../resources/images/favicon.ico" th:href="@{/images/favicon.ico}">
    <style>
        .iconfont {
            font-family: "iconfont" !important;
            font-size: 16px;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .pading-right{
            margin-right: 0.2rem;
        }
        .pad-top{
            margin-top: 0.5rem;
        }
        .grapPad{
            margin-right: 0.5rem;
            font-size: 2rem;
        }
        .editArea{
            border:1px dashed #d9d9d9;
            border-radius: 0.2rem;
            width: 100%;
            float: left;
            min-height: 7rem;
        }
        .display-icon{
        // color: #e54746;
            background-image: linear-gradient(135deg,
            #eb8c96 0%,
            #6570e8 67%,
            #1512e5 100%);
            -webkit-background-clip: text;
            color:transparent;
        }
        .mouseclick-icon{
        // color: #e54746;
            background-image: linear-gradient(135deg,
            #6ceb38 0%,
            #82e5e8 67%,
            #e5861d 100%);
            -webkit-background-clip: text;
            color:transparent;
        }
        .display-background{
            width: 400px;
            height: 200px;
            border: 1px solid #000;
            background-image: linear-gradient(
                    90deg,
                    rgba(0, 255, 213, 0.15) 10%,
                    rgba(0, 0, 0, 0) 10%
            ),
            linear-gradient(rgba(0, 255, 213, 0.15) 10%, rgba(0, 0, 0, 0) 10%);
            background-size: 10px 10px;
        }
        .contain-arrange{
            float: left;
            margin-left: 0.2rem;
        }
        .grid-stack {
            height: 100%;
            /*border: 1px solid #bfbfbf;*/
            background-image: linear-gradient(90deg, rgba(173, 178, 183, 0.15) 10%, rgba(0, 0, 0, 0) 10%),
            linear-gradient(rgba(145, 182, 232, 0.15) 10%, rgba(0, 0, 0, 0) 10%);
            background-size: 10px 10px;
        }
        .grid-stack-item-content { background-color: whitesmoke; }
    </style>

</head>
<body class="layui-layout-body">
<div class="layui-col-md12" style="margin-bottom: 0.5rem;">
    <div class="layui-navs" style="margin-top:0.5rem;">

        <a class="layui-btn layui-btn-small" style="line-height:1.6em;float:right;height: 2.3rem;margin-right: 1rem;" href="javascript:saveLayout();" title="保存">
            <i class="layui-icon layui-icon-ok" style="line-height:2.3rem;font-size: 1rem;">生成模板大屏</i>
        </a>
        <a class="layui-btn layui-btn-primary" style="line-height:1.6em;float:right;height: 2.3rem;margin-right: 1rem;" href="javascript:previewDisplay();" title="设置">
            <i class="layui-icon layui-icon-set" style="line-height:2.3rem;font-size: 1rem;">模板大屏预览</i>
        </a>
        <a class="layui-btn layui-btn-primary" style="line-height:1.6em;float:right;height: 2.3rem;margin-right: 1rem;" href="javascript:execute_open('选择图表', 'display-widget-select.html', '1000', '750');" title="设置">
            <i class="layui-icon layui-icon-set" style="line-height:2.3rem;font-size: 1rem;">图表</i>
        </a>
        <a class="layui-btn layui-btn-primary" style="line-height:1.6em;float:right;height: 2.3rem;margin-right: 1rem;" href="javascript:setEnv();" title="设置">
            <i class="layui-icon layui-icon-set" style="line-height:2.3rem;font-size: 1rem;">大屏设置</i>
        </a>
        <a class="layui-btn layui-btn-primary" style="line-height:1.6em;float:right;height: 2.3rem;margin-right: 1rem;" href="javascript:addWidget();" title="新增Widget">
            <i class="layui-icon layui-icon-set" style="line-height:2.3rem;font-size: 1rem;">新增Widget</i>
        </a>
        <a class="layui-btn layui-btn-primary" style="line-height:1.6em;float:right;height: 2.3rem;margin-right: 1rem;" href="javascript:addWidget();" title="新增Widget">
            <i class="layui-icon layui-icon-set" style="line-height:2.3rem;font-size: 1rem;">新增Slide</i>
        </a>
        <input type="text" name="title" style="height: 2.3rem;width:300px;border:0px;margin-left:1rem;" id="title" value="" placeholder="请输入大屏名称" >

    </div>
</div>
<fieldset class="layui-elem-field layui-field-title" style="padding-top: 3rem;">
    <legend></legend>
</fieldset>
<form class="layui-form layui-form-pane" action="" id="frm-reg" >
<div id="main"  class="layui-body" >
    <div  class="layui-layout" id="slideDiv"   lay-filter="slideDiv" style="float: left; width: 9%; height: 97%;  text-align: center">
        <!--<buttononclick="saveLayout()">保存</button>-->

    </div>

    <div class="contain-arrange" style="width: 70%;height: 100%; ">
        <div id="graphArea" class="grid-stack grid-stack-10" style="min-height: 100%">

        </div>
    </div>
    <div class="contain-arrange"  style="width: 9%;height: 97.5%; border-left: solid 1px #bfbfbf; ">
        <div class="grid-stack-10" style="min-height: 100%;background-color: rgba(0, 0, 0, 0)"></div>
    </div>
    <div class="contain-arrange"  style="width: 9%;height: 97.5%; border-left: solid 1px #bfbfbf; ">
        <div class=" grid-stack-10" style="min-height: 100%;background-color: rgba(0, 0, 0, 0)"></div>
    </div>
<!--    <div  style="float: left;width: 97.8%;min-height: 3rem;margin-top:0.2rem; border: solid 1px #bfbfbf; ">
    </div>-->
</div>
</form>
</body>

<script type="text/javascript" src="/js/framework/axios.js"></script>
<script type="text/javascript" src="/js/framework/vue.js"></script>
<!--<script type="text/javascript" src="/js/framework/httpVueLoader.js"></script>
<script type="text/javascript" src="/js/framework/datav.min.vue.js"></script>-->
<script type="text/javascript" src="/js/pages/request.js"></script>
<script type="text/javascript" src="/js/pages/global.js"></script>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="lib/layui/layui.js"></script>
<script src="js/jquery.cookie.min.js"></script>
<script src="js/common.js"></script>
<script src="js/biz-common.js"></script>
<script src="js/framework/echarts.min.js"></script>
<script src="js/graph/pie.js"></script>
<script src="js/componentGraph.js"></script>
<script src="js/display-add.js"></script>
<script type="text/javascript">
    let catsAndVal,globalViewData;
    let grid = GridStack.init({column: 10});
    function addWidget() {
        grid.addWidget(widgetHTML(), {minWidth: 4, minHeight: 6});

    }
    function borderDisplay(event) {
        $('.grid-stack-item-content').each((index, item) => {
            $(item).css('border', '');
        });
        $(event).css('border', '3px solid #F08080');
    }
    function editTitle(msg) {
        let text = $(msg).text();
        $(msg).html("<input type='text' name='album' value='"+ text +"' size=20>");
        $("input[name='album']").focus();
        $("input[name='album']").blur(function(){
            let name = $(this).val();
            if(name.indexOf(" ") >= 0 || name === ""){
                $(msg).html("标题");
            }else{
                $(msg).html(name);
            }
        });
    }
    function remove(div) {
        grid.removeWidget(div.parentElement.parentElement);
        //http://localhost:9089/api/v3/displays/1/slides/1/widgets
        let displayWidgetId = div.parentElement.getAttribute("widget-id");
        let displayId = localStorage.getItem("displayId");
        let displaySlideId = localStorage.getItem("slideId");
        let widgetId = displayWidgetId.substr(displayWidgetId.indexOf("_")+1);
        let dispMemWidgetId = null;
        $.each(slideMemWidgetMap,function (index, item) {
            console.log(index,item)
            if(index === widgetId){
                dispMemWidgetId = item;
            }
        })
        //console.log("memWidgetID = " + dispMemWidgetId);
        deleteSlideMemWidgit(displayId,displaySlideId,dispMemWidgetId);
    }
    function widgetHTML() {
        return '<div>' +
            '<div class="grid-stack-item-content" onclick="borderDisplay(this)">' +
            '<div id="title" ondblclick="editTitle(this)" style="text-align: center; height: 30px; border-bottom: solid 1px black">标题</div>' +
            '<button style="position: absolute; left: 5px; bottom: 5px;" onclick="remove(this)">删除</button>' +
            '</div>' +
            '</div>';
    }
    function saveLayout() {
        let title =  $("#title").val();
        let layout = {title: title===""?"大屏标题":title, url: '/display'+ localStorage.getItem("displayId") , components: [], createTime: dateFormat("yyyy-MM-dd hh:mm:ss", new Date()), enabled: 'Y'};
        $(grid.engine.nodes).each((index, ele) => {
            let childs =  $( "div[data-gs-x="+ele.x+"][data-gs-y="+ele.y+"]" ).children();
            let viewId,graphType,widgetId;
            for(let prop in childs){
                //console.log("childs[prop] = " + childs[prop]);
                viewId = childs[prop].getAttribute("view-id");
                graphType = childs[prop].getAttribute("widget-type");
                widgetId = childs[prop].getAttribute("widget-id");
                if(viewId != null && viewId !="") break;
            }
            //console.log("viewId = " + viewId);
            globalViewData = getViewByViewID(viewId);
            widgetId = widgetId.substring(widgetId.indexOf("_")+1);
            let query = globalTempView != null ? globalTempView.sql:"";
/*            let component_type = checkGraphType(graphType);
            console.log("graphType=" + graphType,"component_type=" + component_type)*/
            layout.components.push({height: ele.height, width: Math.floor(ele.width/grid.column() * 100), x: Math.floor(ele.x/grid.column() * 100), y: ele.y, type: graphType, query: query, params: '', title: $(ele.el).find('[id=title]').html(), createTime: dateFormat("yyyy-MM-dd hh:mm:ss", new Date()),widgetId:widgetId})
        });
        layout.components.sort((v1,v2) => {
            return v1.x - v2.x;
        });
        layout.components.sort((v1,v2) => {
            return v1.y - v2.y;
        });
        $(layout.components).each((index, ele) => {
            ele.locationIndex = index;
        });
        service.post('/layout/create', layout).then(res => {
            if (!res.data.success) {
                return;
            }
        }).catch(err => {
            console.log(err);
        })
    }
    /**
     * 制作大屏页面调用，用户勾选后保存。
     * @param obj
     */
    function saveDispWidget(selectedWidgets) {
        //console.log("selected widgets",selectedWidgets)
        //保存数据
        // display select widget to canvas
        for(let prop in selectedWidgets){
            //console.log("prop",prop,selectedWidgets[prop]);
            let grahpId = "displayWidget_" + selectedWidgets[prop].id;
            let widgetViewId = selectedWidgets[prop].viewId;
            let config = JSON.parse(selectedWidgets[prop].config)
            let graphType=config.selectedChart;
            let widgetTitle = selectedWidgets[prop].name;
            addGraphWidget(grahpId,widgetViewId,graphType,widgetTitle);
            //渲染图形
            switch (graphType) {
                case 1:
                    //面积图
                    renderDispGraph(selectedWidgets[prop],"area",grahpId);
                    break;
                case 2:
                    //柱状图
                    renderDispGraph(selectedWidgets[prop],"bar",grahpId);
                    break;
                case 3:
                    //折线图
                    renderDispGraph(selectedWidgets[prop],"line",grahpId);
                    break;
                case 4:
                    //饼图
                    renderDispGraph(selectedWidgets[prop],"pie",grahpId);
                    break;
                case 5:
                    //地图
                    renderDispGraph(selectedWidgets[prop],"map",grahpId);
                    break;
                case 6:
                    break;
                default:
                    break;
            }
        }
        //保存  POST
        ///api/v3/displays/1/slides/1/widgets

        saveMemDispSlideWidget(selectedWidgets);
        //save temp gloable file to operate
        //获取memslidewidgets,views,widgets
        let displayId = localStorage.getItem("displayId");
        //获取slide
        let firstSlideId = localStorage.getItem("slideId");
        let slidePageData = getWidgets(displayId,firstSlideId);
        let slideMemWidgets = slidePageData.items;
        $.each(slideMemWidgets,function (index, item) {
            slideMemWidgetMap[item.widgetId]=item.id;
        })

        //修改 PUT  /api/v3/displays/1/slides/7/widgets
    }

    /**
     * 一致widgets,绘制widget图像 。
     * @param obj
     */
    function drawDispWidget(selectedWidgets) {
        //console.log("selected widgets",selectedWidgets)
        //保存数据
        // display select widget to canvas
        for(let prop in selectedWidgets){
            //console.log("prop",prop,selectedWidgets[prop]);
            let grahpId = "displayWidget_" + selectedWidgets[prop].id;
            let widgetViewId = selectedWidgets[prop].viewId;
            let config = JSON.parse(selectedWidgets[prop].config)
            let secondWidgetAry = config.dataDrill;
            let graphType=config.selectedChart;
            let widgetTitle = selectedWidgets[prop].name;
            let secondWidgetId = "";
            $.each(secondWidgetAry,function(index,item){
                if(item.level === "2") {
                    secondWidgetId = item.widgetId;
                    return false;
                }
            });
            addGraphWidget(grahpId,widgetViewId,graphType,widgetTitle,secondWidgetId);
            //渲染图形
            switch (graphType) {
                case 1:
                    //面积图
                    renderDispGraph(selectedWidgets[prop],"area",grahpId);
                    break;
                case 2:
                    //柱状图
                    renderDispGraph(selectedWidgets[prop],"bar",grahpId);
                    break;
                case 3:
                    //折线图
                    renderDispGraph(selectedWidgets[prop],"line",grahpId);
                    break;
                case 4:
                    //饼图
                    renderDispGraph(selectedWidgets[prop],"pie",grahpId);
                    break;
                case 5:
                    //地图
                    renderDispGraph(selectedWidgets[prop],"map",grahpId);
                    break;
                case 6:
                    break;
                default:
                    break;
            }
        }
    }

    /**
     *
     * @param displayWidgetId
     */
    function addGraphWidget(displayWidgetId,widgetViewId,widgetType,widgetTitle,secondWidgetId) {
        grid.addWidget(widgetGraphHTML(displayWidgetId,widgetViewId,widgetType,widgetTitle,secondWidgetId), {minWidth: 3, minHeight: 4});

    }

    /**
     *
     * @param displayWidgetId
     * @returns {string}
     */
    function widgetGraphHTML(displayWidgetId,widgetViewId,widgetType,widgetTitle,secondWidgetId) {
        return '<div>' +
            '<div class="grid-stack-item-content" second-widget-id="'+secondWidgetId +'" widget-id="'+ displayWidgetId  +'"  view-id="'+ widgetViewId +'" widget-type="'+ widgetType +'" onclick="borderDisplay(this)">' +
            '<div id="title" ondblclick="editTitle(this)" style="text-align: center; height: 30px; border-bottom: solid 1px black">'+widgetTitle+'</div>' +
            '<div id="' + displayWidgetId + '" ondblclick="editTitle(this)" style="text-align: center; height: 50%;">内容</div>' +
            '<button style="position: absolute; left: 5px; bottom: 5px;" onclick="remove(this)">删除</button>' +
            '</div>' +
            '</div>';
    }
    /**
     * render graphics
     */
    function renderDispGraph(obj,type,id){
        if(id == null || id  === "")
            id="graphArea";
        //console.log("type = "  + type);
        //改变颜色  mouseclick-icon
        catsAndVal = getCategoriesAndValuesFromWidgetData(obj);
        getDataByViewId(obj);
        let graphData = buildGraphData(globalViewData);
        let bizData = graphData.showedData;
        let legendData = graphData.legendData;

        switch (type) {
            case "area":
                renderAreaLine(id,"",legendData,bizData);
                break;
            case "pie":
                renderPie(id,"",legendData,bizData);
                break;
            case "line":
                renderLine(id,"",legendData,bizData);
                break;
            case "bar":
                renderBar(id,"",legendData,bizData);
                break;
            case "map":
                renderPie(id,"",legendData,bizData);
                break;
            default:
                break;
        }
    }
    /**
     * get view data by view id
     * /1/getdata
     */
    function getDataByViewId(widgetData) {
        // 构造request data
        let aggregators = [],
            groups=[],
            cache=false,
            expired=0,
            filters= [],
            flush= false,
            nativeQuery=false,
            orders= [],
            pageNo=0,
            pageSize= 0;

        //取category columns
        aggregators = catsAndVal.aggregators;
        groups = catsAndVal.groups;
        //取 Filters columns //TODO:
        let data = JSON.stringify({aggregators:aggregators,groups:groups,cache: false,expired: 0,filters: [],
            flush: false,nativeQuery: false,orders: [],pageNo: 0,pageSize: 0});
        $.ajax({
            url: "/api/v3/views/"+ widgetData.viewId + "/getdata",
            type: "POST",
            dataType: "json",
            data: data,
            contentType: "application/json;charset=utf-8",
            xhrFields: {
                withCredentials: true //允许跨域带Cookie
            },
            async: false,
            headers: {
                "Authorization":$.cookie("token")//此处放置请求到的用户token
            },
            success: function (data) {
                if (data.code == 0) {
                    //layer.msg("查询成功", {icon: 1, time: 1000});
                    //console.log(data);

                    $.cookie("token",data.token,{
                        expires: 10
                    });
                    globalViewData = data;
                    return false;
                } else {
                    //layer.msg("查询失败", {icon: 2, time: 1000});
                    return false;
                }
            },
            fail: function (data) {
                //layer.msg("查询失败", {icon: 2, time: 1000});
                return false;
            }
        });
    }

    /**
     * 获取要展示的维度和指标
     */
    function getCategoriesAndValuesFromWidgetData(widgetData){
        let aggregators = [],
            groups=[];
        let ret={};
        //console.log("#### widgetData.config : ",widgetData.config)
        let config = JSON.parse(widgetData.config)
        //取category columns
        let cateoryNodes = config.cols;
        let j = 0;
        for(let i=0;i<cateoryNodes.length;i++){
            let oneCategory = cateoryNodes[i];
            let dataValue = oneCategory.name;
            if(dataValue != null){
                groups[j] = dataValue;
                j++;
            }
        }
        //取 value columns
        let valueNodes = config.metrics;
        let k = 0;
        for(let i=0;i<valueNodes.length;i++){
            let oneMetrics = valueNodes[i];
            let dataValue = oneMetrics.name;
            if(dataValue != null){
                let temp = {};
                temp.column = dataValue;
                temp.func = "sum";
                aggregators[k] = temp;
                k++;
            }
        }
        ret.aggregators=aggregators;
        ret.groups = groups;
        return ret;
    }
    /**
     * build legendData & showed data.
     * @param data
     */
    function buildGraphData(data) {
        let legendData=[], showedData=[];
        let bizData = data.data.resultList;
        //取category columns
       // let ret = getCategoriesAndValuesFromWidgetData(data);
        let categories = catsAndVal.groups;
        let values = catsAndVal.aggregators;
        let catLength = categories.length;
        let catI = 0;
        for(let i in bizData){
            let mapData = {};
            //get legendData
            let key = "";
            let oneData = bizData[i];
            for(let prop in categories){
               // console.log("categories[prop] --> " ,categories[prop]);
                //console.log("oneData[categories[prop]] --> " ,oneData[categories[prop]]);
                // console.log("categories[prop] --> " ,categories[prop]);
                //console.log("oneData[categories[prop]] --> " ,oneData[categories[prop]]);
                if(catLength === 1){
                    key += oneData[categories[prop]]==null?"":oneData[categories[prop]];
                    break;
                }
                if(catLength > 1 && catI === 0){
                    key = oneData[categories[prop]]==null?"":oneData[categories[prop]];
                }else{
                    if(key.length > 0)
                        key += "-";
                    key += oneData[categories[prop]]==null?"":oneData[categories[prop]];
                }
                catI++;
            }
            legendData[i]= key.substr(1);
            //build value key
            for(let prop in values){
                let valueKey = "";
                if(values[prop].func != null && values[prop].func.length > 0){
                    valueKey = values[prop].func  + "(" + values[prop].column + ")";
                }else{
                    valueKey += values[prop].column;
                }
                //get biz data
                mapData.name=key;
                mapData.value=oneData[valueKey]==null?0:oneData[valueKey];
                showedData[i] = mapData;
            }
        }
        let retData ={};
        retData.legendData = legendData;
        retData.showedData = showedData;
        return retData;
    }

    /**
     * save relationship between slide and widgets
     * [{displaySlideId: 8
        index: 1
        name: "饼图"
        params: "{"width":460,"height":340,"positionX":16,"positionY":16,"backgroundColor":[255,255,255,0],"borderColor":[0,0,0],"borderWidth":null,"borderStyle":"solid","borderRadius":null,"polling":"false"}"
        type: 1
        widgetId: 2}]
     */
    function saveMemDispSlideWidget(widgets) {
        let slideWidgets = null;
        let displayId = localStorage.getItem("displayId");
        let displaySlideId = localStorage.getItem("slideId");
        let data = buildDispSlideWidgetData(widgets);
        $.ajax({
            url: "/api/v3/displays/"+ displayId +"/slides/"+ displaySlideId + "/widgets",
            type: "Post",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            xhrFields: {
                withCredentials: true //允许跨域带Cookie
            },
            async: false,
            headers: {
                "Authorization":$.cookie("token")//此处放置请求到的用户token
            },
            success: function (data) {
                if (data.code == 0) {
                    layer.msg("数据保存成功", {icon: 1, time: 1000});
                    slideWidgets = data.data;
                    $.cookie("token",data.token,{
                        expires: 10
                    });
                } else {
                    layer.msg("数据保存失败", {icon: 2, time: 1000});
                }
            },
            fail: function (data) {
                layer.msg("保存失败", {icon: 2, time: 1000});
            }
        });
        return slideWidgets;
    }
    function buildDispSlideWidgetData(selectedWidgets) {
        let memDispSlideWidgets = [];
        let displaySlideId = localStorage.getItem("slideId");
        let k = 0;
        for(let prop in selectedWidgets){
            let widget = selectedWidgets[prop];
            if(widget == null ) continue;
            let obj = {};
            obj.index = prop;
            obj.type = widget.type;
            obj.name = getGraphName(widget.type);
            obj.widgetId = widget.id;
            obj.displaySlideId = displaySlideId;
            obj.params='{"width":460,"height":340,"positionX":16,"positionY":16,"backgroundColor":[255,255,255,0],"borderColor":[0,0,0],"borderWidth":null,"borderStyle":"solid","borderRadius":null,"polling":"false"}';
            memDispSlideWidgets[k]=obj;
            k++;
        }
        return memDispSlideWidgets;
    }
    /**
     * TODO:
     * save relationship between slide and widgets
     * [{displaySlideId: 8
        index: 1
        name: "饼图"
        params: "{"width":460,"height":340,"positionX":16,"positionY":16,"backgroundColor":[255,255,255,0],"borderColor":[0,0,0],"borderWidth":null,"borderStyle":"solid","borderRadius":null,"polling":"false"}"
        type: 1
        widgetId: 2}]
     */
    function editMemDispSlideWidget(widget,index) {
        let slideWidgets;
        let displayId = localStorage.getItem("displayId");
        let displaySlideId = localStorage.getItem("slideId");
        let obj = {};
        obj.index = index;
        obj.type = widget.type;
        obj.name = getGraphName(widget.type());
        obj.widgetId = widget.id;
        obj.displaySlideId = displaySlideId;
        obj.params='{"width":460,"height":340,"positionX":16,"positionY":16,"backgroundColor":[255,255,255,0],"borderColor":[0,0,0],"borderWidth":null,"borderStyle":"solid","borderRadius":null,"polling":"false"}';
        $.ajax({
            url: "/api/v3/displays/"+ displayId +"/slides/"+ $.cookie("slideId"),
            type: "PUT",
            data: JSON.stringify(obj),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            xhrFields: {
                withCredentials: true //允许跨域带Cookie
            },
            async: false,
            headers: {
                "Authorization":$.cookie("token")//此处放置请求到的用户token
            },
            success: function (data) {
                if (data.code === 0) {
                    layer.msg("数据保存成功", {icon: 1, time: 1000});
                    slideWidgets = data.data;
                    console.log(slide);
                    $.cookie("token",data.token,{
                        expires: 10
                    });
                } else {
                    layer.msg("保存失败", {icon: 2, time: 1000});
                }
            },
            fail: function (data) {
                layer.msg("保存失败", {icon: 2, time: 1000});
            }
        });
        return slideWidgets;
    }
</script>
</html>
